<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show-WanderLust</title>
</head> -->

<% layout("/layouts/boilerplate")-%>

<body>
    <div class="row">
    <div class="col-8 offset-2">
    <h3>Listing Details </h3>
    <div class="card" style="width: 18rem;">
        <img src="<%=List.image.url%>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <b><%=List.title%></b><br>
                <%=List.description%> <br>
                &#8377;<%=List.price.toLocaleString("en-IN")%> <br>
                <%=List.location%> <br>
                <%=List.country%> <br>
            </p>

        </div>
    </div>
    </div>
    </div>
        <a href="/listings" class="btn btn-dark">Go Back</a>
        <form action="/listings/<%=List._id%>/edit" method="get">
        <button type="submit">EDIT</button>
        </form>
        <form action="/listings/<%=List._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
        </form>

</body>
<!-- </html> -->